{% extends 'todo_handler/layout.html' %} {% block title %} TODO - Impressum {% endblock %} {% block content %}
<main>
    <div id="main" class="container-fluid main p-2">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-6">
                <h3>
                    Autoren:
                    <br>
                    <br> Lorenz Kleissner
                    <br> Paul Simon
                </h3>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</main>
{% endblock %}